:root {
  --bg-color-white-smoke: #f5f5f5;
  --text-default-color: #464646;
  --craigs-list-purple: #800080;
}

.homepage #catAbb,
.homepage #go,
.homepage .leftlinks #cl_app_beta,
.no-js,
p.more {
  display: none;
}

#logo {
  font-size: 2.5rem;
}

.homepage-search .querybox {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #464646;
  font-size: 16px;
}

.menu.collapsible > li {
  cursor: pointer;
}

.menu.collapsible > li.expand.s ul {
  display: block;
}

.menu.collapsible > li ul {
  display: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg-color-white-smoke);
  color: var(--text-default-colors);
}

body a {
  text-decoration: none;
  color: rgb(24, 24, 24);
}

ul {
  padding: 0;
}

ul > li {
  list-style: none;
}

a > :visited {
  color: var(--craigs-list-purple);
}

a span {
  transition: ease-in-out;
}
a span:hover {
  font-weight: bold;
  color: var(--craigs-list-purple);
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
}

#leftbar,
#center,
#rightbar {
  float: left;
  padding: 30px;
  box-sizing: border-box;
}

footer {
  clear: both;
}

#leftbar,
#rightbar {
  width: 25%;
}

#center {
  width: 50%;
  border: 1px solid var(--text-default-color);
  border-radius: 10px;
}

#center > div {
  float: left;
  width: 33%;
}

#topban h2 {
  text-align: center;
}

.clfooter {
  text-align: center;
  border-top: 1px solid gray;
  padding: 10px 0;
}

.clfooter li {
  display: inline;
  padding-right: 5px;
}

#center .ban::before {
  content: "☮️";
}

.cal {
  border-collapse: collapse;
}
.cal td {
  border: 1px solid #333;
  text-align: center;
  padding: 5px;
}

.cal td a {
  color: rgb(52, 211, 52);
  font-weight: bold;
}

.cal td {
  color: rgba(24, 24, 24, 0.7);
}

.cal td:hover {
  background-color: #ec43ec;
}

.cal td:hover a {
  color: #fff;
}
.cal tr .today {
  background-color: var(--craigs-list-purple);
}

.cal tr .today:hover {
  background-color: #b30fb3;
}

.cal tr .today a {
  color: #fff;
}

.bglogo {
  font-size: 2rem;
}

#logo a,
#postlks li a {
  color: var(--craigs-list-purple);
  transition: color 0.2s ease-in;
}

#logo a:hover,
#postlks li a:hover {
  color: #b30fb3;
}
